<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polaris.project.mapper.InterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.polaris.common.entity.InterfaceInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="endpoint" column="endpoint" jdbcType="VARCHAR"/>
        <result property="requestParams" column="requestParams" jdbcType="VARCHAR"/>
        <result property="requestType" column="requestType" jdbcType="VARCHAR"/>
        <result property="responseType" column="responseType" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="method" column="method" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="action" column="action" jdbcType="VARCHAR"/>
        <result property="interfaceAvatar" column="interfaceAvatar" jdbcType="VARCHAR"/>
        <result property="interfaceType" column="interfaceType" jdbcType="INTEGER"/>
        <result property="responseParams" column="ResponseParams" jdbcType="VARCHAR"/>
        <result property="requestClass" column="requestClass" jdbcType="VARCHAR"/>
        <result property="responseClass" column="responseClass" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        endpoint,requestParams,requestType,
        responseType,status,method,
        userId,createTime,updateTime,
        isDelete,path,action,
        interfaceAvatar,interfaceType,ResponseParams,
        requestClass,responseClass
    </sql>
</mapper>